Create a 2D Numpy Array

In [2]:
# Import the libraries

import numpy as np

In [3]:
# Create a list

a = [[11, 12, 13], [21, 22, 23], [31, 32, 33]]
a

[[11, 12, 13], [21, 22, 23], [31, 32, 33]]

In [4]:
# Convert list to Numpy Array
# Every element is the same type

A = np.array(a)
A

array([[11, 12, 13],
       [21, 22, 23],
       [31, 32, 33]])

In [5]:
# Show the numpy array dimensions

A.ndim

2

In [6]:
# Show the numpy array shape

A.shape

(3, 3)

In [7]:
# Show the numpy array size

A.size

9

In [8]:
# Access the element on the first row and first column

A[0][0]

11

In [9]:
# Access the element on the first row and first column

A[2][0]

31

In [10]:
# Access the element on the first row and first and second columns

A[0][0:2]

array([11, 12])

In [11]:
# Access the element on the first and second rows and third column

A[0:2, 2]

array([13, 23])

Basic Operations

In [12]:
# Create a numpy array X

X = np.array([[1, 0], [0, 1]]) 
X

array([[1, 0],
       [0, 1]])

In [13]:
# Create a numpy array Y

Y = np.array([[2, 1], [1, 2]]) 
Y

array([[2, 1],
       [1, 2]])

In [14]:
#Addition
Z= X + Y
Z

array([[3, 1],
       [1, 3]])

In [15]:
#Subtraction
S = X - Y
S

array([[-1, -1],
       [-1, -1]])

In [17]:
Z = 2*X
Z

array([[2, 0],
       [0, 2]])

In [18]:
Z = 2*Y
Z

array([[4, 2],
       [2, 4]])

In [20]:
C = np.dot(X,Y)
C

array([[2, 1],
       [1, 2]])

In [21]:
np.sin(C)

array([[0.90929743, 0.84147098],
       [0.84147098, 0.90929743]])