Sets

Types of Collections

they are unordered, means they do not record the element positions

it only has unique values, even if we put up duplicate values, at time of execution they will be removed

In [4]:
album_Set1 = {"Ronit","2005",122,2,122,"2005","2004","Thrill"}
album_Set1

{122, 2, '2004', '2005', 'Ronit', 'Thrill'}

Converting A list to a Set

In [5]:
album_lst = ["Ronit", "Thrill", 2005,"BOB","Ronit"]
album_set = set(album_lst)
album_set

{2005, 'BOB', 'Ronit', 'Thrill'}

Set Operations

In [ ]:
A = {"Ac/DC", "Ronit", "Thrill", "Thrill", "BoB"}
A.add("Nvidia")
print(A) #or A

{'BoB', 'Ac/DC', 'Nvidia', 'Thrill', 'Ronit'}

In [13]:
A.remove("BoB")
A

{'Ac/DC', 'Ronit', 'Thrill'}

In [14]:
"Thrill" in A

True

In [17]:
#Intersection
set1 = {"Roy", "2005", "Thrill", "BOB"}
set2 = {"Avengers","World", "Roy", "2005"}
set1

{'2005', 'BOB', 'Roy', 'Thrill'}

In [18]:
set2

{'2005', 'Avengers', 'Roy', 'World'}

In [20]:
set3 = set1 & set2 
set3

{'2005', 'Roy'}

In [ ]:
#Checking if set3 is a subset of set1
set3.issubset(set1)

True